/* Buttons */
.btn-primary {
    position: relative;
    border-radius: 0;
    padding: 8px 1.6rem 7px;
    text-transform: capitalize;
    font-weight: 400;
    background-color: #155C93;
    color: #FFF;
    transition: none;

    &:hover {
        background-color: #155C93;
        color: #FFF;
    }

    &:active {
        background-color: #ec302b !important;
        background-image: none !important;
    }

    &:focus {
        outline: 2px solid #0000ff;
        color: #FFF;
        box-shadow: none !important;
        background-color: #ec302b;
    }

    &:disabled {
        border-color: #ef524e #ef524e #eb241f;
    }
}

.btn-secondary {
    position: relative;
    border-radius: 6px;
    padding: 8px 1.6rem 7px;
    text-transform: capitalize;
    font-weight: 400;
    background-color: #198754;
    border-color: #198754 #198754 #157347;
    box-shadow: 0 5px #146c43;
    color: #FFF;
    transition: none;

    &:hover {
        background-color: #198754;
        border-color: #198754 #198754 #157347;
        color: #FFF;
        top: 3px;
        box-shadow: 0 2px #146c43;
    }

    &:active {
        background-color: #198754 !important;
        background-image: none !important;
    }

    &:focus {
        outline: 2px solid #0000ff;
        color: #FFF;
        box-shadow: none !important;
        background-color: #198754;
    }

    &:disabled {
        border-color: #198754 #198754 #157347;
    }
}

/* A-Links */
a {
    color: #777;
    text-decoration: none;

    &:hover {
        color: #777;
        text-decoration: underline;
    }
}

/* Gutters */
.row-gutter-sm {
    margin-right: -10px;
    margin-left: -10px;
}

.row-gutter-sm .col,.row-gutter-sm .col-1,.row-gutter-sm .col-10,.row-gutter-sm .col-11,.row-gutter-sm .col-12,.row-gutter-sm .col-2,.row-gutter-sm .col-3,.row-gutter-sm .col-4,.row-gutter-sm .col-5,.row-gutter-sm .col-6,.row-gutter-sm .col-7,.row-gutter-sm .col-8,.row-gutter-sm .col-9,.row-gutter-sm .col-auto,.row-gutter-sm .col-lg,.row-gutter-sm .col-lg-1,.row-gutter-sm .col-lg-10,.row-gutter-sm .col-lg-11,.row-gutter-sm .col-lg-12,.row-gutter-sm .col-lg-2,.row-gutter-sm .col-lg-3,.row-gutter-sm .col-lg-4,.row-gutter-sm .col-lg-5,.row-gutter-sm .col-lg-6,.row-gutter-sm .col-lg-7,.row-gutter-sm .col-lg-8,.row-gutter-sm .col-lg-9,.row-gutter-sm .col-lg-auto,.row-gutter-sm .col-md,.row-gutter-sm .col-md-1,.row-gutter-sm .col-md-10,.row-gutter-sm .col-md-11,.row-gutter-sm .col-md-12,.row-gutter-sm .col-md-2,.row-gutter-sm .col-md-3,.row-gutter-sm .col-md-4,.row-gutter-sm .col-md-5,.row-gutter-sm .col-md-6,.row-gutter-sm .col-md-7,.row-gutter-sm .col-md-8,.row-gutter-sm .col-md-9,.row-gutter-sm .col-md-auto,.row-gutter-sm .col-sm,.row-gutter-sm .col-sm-1,.row-gutter-sm .col-sm-10,.row-gutter-sm .col-sm-11,.row-gutter-sm .col-sm-12,.row-gutter-sm .col-sm-2,.row-gutter-sm .col-sm-3,.row-gutter-sm .col-sm-4,.row-gutter-sm .col-sm-5,.row-gutter-sm .col-sm-6,.row-gutter-sm .col-sm-7,.row-gutter-sm .col-sm-8,.row-gutter-sm .col-sm-9,.row-gutter-sm .col-sm-auto,.row-gutter-sm .col-xl,.row-gutter-sm .col-xl-1,.row-gutter-sm .col-xl-10,.row-gutter-sm .col-xl-11,.row-gutter-sm .col-xl-12,.row-gutter-sm .col-xl-2,.row-gutter-sm .col-xl-3,.row-gutter-sm .col-xl-4,.row-gutter-sm .col-xl-5,.row-gutter-sm .col-xl-6,.row-gutter-sm .col-xl-7,.row-gutter-sm .col-xl-8,.row-gutter-sm .col-xl-9,.row-gutter-sm .col-xl-auto {
    padding-left: 10px;
    padding-right: 10px
}

/* Z-Index */
.z-index-1 {
    z-index: 1 !important;
}

/* Text Color Default */
.text-default,
.text-color-default {
    color: #777 !important;
}

// H Titles
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212529;
    font-weight: 200;
    letter-spacing: -.05em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

/* Lists */
.list.list-unstyled {
    padding-left: 0;
    padding-right: 0
}

.list-unstyled {
    padding-left: 0;
    padding-right: 0
}

/* Letter Spacing */
.ls-0 {
    letter-spacing: 0 !important;
}

.negative-ls-05 {
    letter-spacing: -0.05em;
}

.negative-ls-1 {
    letter-spacing: -1px;
}

.negative-ls-2 {
    letter-spacing: -2px;
}

.negative-ls-3 {
    letter-spacing: -2.5px;
}

.positive-ls-1 {
    letter-spacing: 1px !important;
}

.positive-ls-2 {
    letter-spacing: 2px !important;
}

.positive-ls-3 {
    letter-spacing: 2.5px !important;
}

/* Weights */
.font-weight-thin {
    font-weight: 100 !important;
}

.font-weight-extralight,
.font-weight-extra-light {
    font-weight: 200 !important;
}

.font-weight-light {
    font-weight: 300 !important;
}

.font-weight-regular,
.font-weight-normal {
    font-weight: 400 !important;
}

.font-weight-medium {
    font-weight: 500 !important;
}

.font-weight-semibold,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.font-weight-extrabold,
.font-weight-extra-bold {
    font-weight: 800 !important;
}

.font-weight-black {
    font-weight: 900 !important;
}

/* Letter Space */
.letter-spacing-minus-1 {
    letter-spacing: -1px;
}

/* Cursor */
.cur-pointer {
    cursor: pointer;
}

/* Pointer Events */
.p-events-none {
    pointer-events: none;
}

/* Font Size */
.text-0 {
    font-size: .7em !important;
}

.text-1 {
    font-size: .8em !important;
}

.text-2 {
    font-size: .9em !important;
}

.text-2-3,
.text-2-5 {
    font-size: .95em !important;
}

.text-3 {
    font-size: 1em !important;
}

.text-3-4,
.text-3-5 {
    font-size: 1.1em !important;
}

.text-4 {
    font-size: 1.2em !important;
}

.text-4-5 {
    font-size: 1.35em !important;
}

.text-5 {
    font-size: 1.50em !important;
}

.text-5-6,
.text-5-5 {
    font-size: 1.65em !important;
}

.text-6 {
    font-size: 1.80em !important;
}

.text-6-7,
.text-6-5 {
    font-size: 1.9em !important;
}

.text-7 {
    font-size: 2em !important;
}

.text-8 {
    font-size: 2.30em !important;
}

.text-9 {
    font-size: 2.50em !important;
}

.text-10 {
    font-size: 2.75em !important;
}

.text-11 {
    font-size: 3em !important;
}

.text-12 {
    font-size: 3.5em !important;
}

.text-12-13,
.text-12-5 {
    font-size: 3.75em !important;
}

.text-13 {
    font-size: 4em !important;
}

.text-14 {
    font-size: 4.5em !important;
}

.text-15 {
    font-size: 5em !important;
}

.text-16 {
    font-size: 5.33em !important;
}

.text-17 {
    font-size: 5.66em !important;
}

.text-18 {
    font-size: 6em !important;
}

.text-19 {
    font-size: 6.33em !important;
}

.text-20 {
    font-size: 6.66em !important;
}

@media (min-width: 576px) {
    .text-sm-0 {
        font-size: .7em !important;
    }

    .text-sm-1 {
        font-size: .8em !important;
    }

    .text-sm-2 {
        font-size: .9em !important;
    }

    .text-sm-2-3,
    .text-sm-2-5 {
        font-size: .95em !important;
    }

    .text-sm-3 {
        font-size: 1em !important;
    }

    .text-sm-3-4,
    .text-sm-3-5 {
        font-size: 1.1em !important;
    }

    .text-sm-4 {
        font-size: 1.2em !important;
    }

    .text-sm-4-5 {
        font-size: 1.35em !important;
    }

    .text-sm-5 {
        font-size: 1.50em !important;
    }

    .text-sm-5-6,
    .text-sm-5-5 {
        font-size: 1.65em !important;
    }

    .text-sm-6 {
        font-size: 1.80em !important;
    }

    .text-sm-6-7,
    .text-sm-6-5 {
        font-size: 1.9em !important;
    }

    .text-sm-7 {
        font-size: 2em !important;
    }

    .text-sm-8 {
        font-size: 2.30em !important;
    }

    .text-sm-9 {
        font-size: 2.50em !important;
    }

    .text-sm-10 {
        font-size: 2.75em !important;
    }

    .text-sm-11 {
        font-size: 3em !important;
    }

    .text-sm-12 {
        font-size: 3.5em !important;
    }

    .text-sm-12-13,
    .text-sm-12-5 {
        font-size: 3.75em !important;
    }

    .text-sm-13 {
        font-size: 4em !important;
    }

    .text-sm-14 {
        font-size: 4.5em !important;
    }

    .text-sm-15 {
        font-size: 5em !important;
    }

    .text-sm-16 {
        font-size: 5.33em !important;
    }

    .text-sm-17 {
        font-size: 5.66em !important;
    }

    .text-sm-18 {
        font-size: 6em !important;
    }

    .text-sm-19 {
        font-size: 6.33em !important;
    }

    .text-sm-20 {
        font-size: 6.66em !important;
    }
}

@media (min-width: 768px) {
    .text-md-0 {
        font-size: .7em !important;
    }

    .text-md-1 {
        font-size: .8em !important;
    }

    .text-md-2 {
        font-size: .9em !important;
    }

    .text-md-2-3,
    .text-md-2-5 {
        font-size: .95em !important;
    }

    .text-md-3 {
        font-size: 1em !important;
    }

    .text-md-3-4,
    .text-md-3-5 {
        font-size: 1.1em !important;
    }

    .text-md-4 {
        font-size: 1.2em !important;
    }

    .text-md-4-5 {
        font-size: 1.35em !important;
    }

    .text-md-5 {
        font-size: 1.50em !important;
    }

    .text-md-5-6,
    .text-md-5-5 {
        font-size: 1.65em !important;
    }

    .text-md-6 {
        font-size: 1.80em !important;
    }

    .text-md-6-7,
    .text-md-6-5 {
        font-size: 1.9em !important;
    }

    .text-md-7 {
        font-size: 2em !important;
    }

    .text-md-8 {
        font-size: 2.30em !important;
    }

    .text-md-9 {
        font-size: 2.50em !important;
    }

    .text-md-10 {
        font-size: 2.75em !important;
    }

    .text-md-11 {
        font-size: 3em !important;
    }

    .text-md-12 {
        font-size: 3.5em !important;
    }

    .text-md-12-13,
    .text-md-12-5 {
        font-size: 3.75em !important;
    }

    .text-md-13 {
        font-size: 4em !important;
    }

    .text-md-14 {
        font-size: 4.5em !important;
    }

    .text-md-15 {
        font-size: 5em !important;
    }

    .text-md-16 {
        font-size: 5.33em !important;
    }

    .text-md-17 {
        font-size: 5.66em !important;
    }

    .text-md-18 {
        font-size: 6em !important;
    }

    .text-md-19 {
        font-size: 6.33em !important;
    }

    .text-md-20 {
        font-size: 6.66em !important;
    }
}

@media (min-width: 992px) {
    .text-lg-0 {
        font-size: .7em !important;
    }

    .text-lg-1 {
        font-size: .8em !important;
    }

    .text-lg-2 {
        font-size: .9em !important;
    }

    .text-lg-2-3,
    .text-lg-2-5 {
        font-size: .95em !important;
    }

    .text-lg-3 {
        font-size: 1em !important;
    }

    .text-lg-3-4,
    .text-lg-3-5 {
        font-size: 1.1em !important;
    }

    .text-lg-4 {
        font-size: 1.2em !important;
    }

    .text-lg-4-5 {
        font-size: 1.35em !important;
    }

    .text-lg-5 {
        font-size: 1.50em !important;
    }

    .text-lg-5-6,
    .text-lg-5-5 {
        font-size: 1.65em !important;
    }

    .text-lg-6 {
        font-size: 1.80em !important;
    }

    .text-lg-6-7,
    .text-lg-6-5 {
        font-size: 1.9em !important;
    }

    .text-lg-7 {
        font-size: 2em !important;
    }

    .text-lg-8 {
        font-size: 2.30em !important;
    }

    .text-lg-9 {
        font-size: 2.50em !important;
    }

    .text-lg-10 {
        font-size: 2.75em !important;
    }

    .text-lg-11 {
        font-size: 3em !important;
    }

    .text-lg-12 {
        font-size: 3.5em !important;
    }

    .text-lg-12-13,
    .text-lg-12-5 {
        font-size: 3.75em !important;
    }

    .text-lg-13 {
        font-size: 4em !important;
    }

    .text-lg-14 {
        font-size: 4.5em !important;
    }

    .text-lg-15 {
        font-size: 5em !important;
    }

    .text-lg-16 {
        font-size: 5.33em !important;
    }

    .text-lg-17 {
        font-size: 5.66em !important;
    }

    .text-lg-18 {
        font-size: 6em !important;
    }

    .text-lg-19 {
        font-size: 6.33em !important;
    }

    .text-lg-20 {
        font-size: 6.66em !important;
    }
}

@media (min-width: 1200px) {
    .text-xl-0 {
        font-size: .7em !important;
    }

    .text-xl-1 {
        font-size: .8em !important;
    }

    .text-xl-2 {
        font-size: .9em !important;
    }

    .text-xl-2-3,
    .text-xl-2-5 {
        font-size: .95em !important;
    }

    .text-xl-3 {
        font-size: 1em !important;
    }

    .text-xl-3-4,
    .text-xl-3-5 {
        font-size: 1.1em !important;
    }

    .text-xl-4 {
        font-size: 1.2em !important;
    }

    .text-xl-4-5 {
        font-size: 1.35em !important;
    }

    .text-xl-5 {
        font-size: 1.50em !important;
    }

    .text-xl-5-6,
    .text-xl-5-5 {
        font-size: 1.65em !important;
    }

    .text-xl-6 {
        font-size: 1.80em !important;
    }

    .text-xl-6-7,
    .text-xl-6-5 {
        font-size: 1.9em !important;
    }

    .text-xl-7 {
        font-size: 2em !important;
    }

    .text-xl-8 {
        font-size: 2.30em !important;
    }

    .text-xl-9 {
        font-size: 2.50em !important;
    }

    .text-xl-10 {
        font-size: 2.75em !important;
    }

    .text-xl-11 {
        font-size: 3em !important;
    }

    .text-xl-12 {
        font-size: 3.5em !important;
    }

    .text-xl-12-13,
    .text-xl-12-5 {
        font-size: 3.75em !important;
    }

    .text-xl-13 {
        font-size: 4em !important;
    }

    .text-xl-14 {
        font-size: 4.5em !important;
    }

    .text-xl-15 {
        font-size: 5em !important;
    }

    .text-xl-16 {
        font-size: 5.33em !important;
    }

    .text-xl-17 {
        font-size: 5.66em !important;
    }

    .text-xl-18 {
        font-size: 6em !important;
    }

    .text-xl-19 {
        font-size: 6.33em !important;
    }

    .text-xl-20 {
        font-size: 6.66em !important;
    }
}

.text-1rem {
    font-size: 16px !important;
    font-size: 1rem !important;
}